body {
  background-color: rgb(200,0,200);
}
h1 {
  color: rgb(255,255,255);
  font-size:32px;
  font-family: Impact;
}

img {
  width:660px;
  height: 100%;
}
.list {
 color: rgb(255,255,255);
  font-family: Tahoma;
/* display: inline-block; */
  float: left;
}

